{% set base = "/files/upload/157/public/dydaktyka" %}
{% macro plik(name) -%}[{{name}}]({{base}}/obliczenia-numeryczne/{{name}}){%- endmacro -%}


### Ćwiczenia

{% set
classes, files = {
    1: 'Wprowadzenie',
    2: 'Grzanie/chłodzenie pręta',
    3: 'Mieszalnik statyczny',
    4: 'Wymiennik krzyżowo-prądowy',
    5: 'Przepływ w kanale zakrzywionym',
    6: 'Schematy różnicowe',
    7: 'Modele turbulencji',
    8: 'Wymiennik płaszczowo-rurowy',
    9: 'Dysza de Lavala',
    10: 'Przegroda wielowarstwowa',
    11: 'Mieszalnik z mieszadłem Rushtona',
    12: 'Przepływ dwufazowy'
},
{
    'Zasady zaliczenia kursu': base + "/cfd/zajeciaorganizacyjne.pdf",
    'Zalecenia edytorskie raportu': base + "/cfd/zalecenia_edytorskie.doc",
    'Raport - instrukcja':  base + "/cfd/raport_instrukcja.pdf",
    'Zasady oceny raportów': base + '/wzpcp/zasadyocenyraportow.pdf',
    'Przykładowe tematy raportów': base + '/obliczenia-numeryczne/projektindywidualny.docx',
    'Szablon raportu': base + '/wzpcp/szablon_raportu_wzpcp.doc',
    'Harmonogram zajęć': base + '/wzpcp/harmonogram_wzpcp.pdf' ,
    'Wskazówki EASE dla autorów i tłumaczy artykułów naukowych publikowanych w języku angielskim': 'https://www.ease.org.uk/wp-content/uploads/2018/11/doi.10.20316.ESE_.2018.44.e1.pl_.pdf'
}
%}

| Nr | Temat | Plik |
|-|----|-|
{%- for nr, name in classes.items() %}
| {{nr}} | {{name}} | {{plik("lab" ~ nr ~ ".zip")}} |
{%- endfor %}

### Inne materiały

{% for name, url in files.items() %}
- #### [{{name}}]({{url}})
{%- endfor %}

![Wyniki obliczeń numerycznych procesów cieplno-przepływowych w pulsacyjnej rurce ciepła\
autor: Adrian Kwiatkowski)](/files/upload/_users/przemyslaw.blasiak@pwr.edu.pl/pb/gifs/alphamphp.mp4){width=100% autoplay=""}