{% set base = "/files/upload/157/public/dydaktyka" %}
{%extends "szablon_pl.md.j2" %}
{% block id%}102{% endblock %}
{%set classes | split("\n")%}
Wprowadzenie
Grzanie/chłodzenie pręta
Mieszalnik statyczny
Wymiennik krzyżowo-prądowy
Przepływ w kanale zakrzywionym
Schematy różnicowe
Modele turbulencji
Wymiennik płaszczowo-rurowy
Dysza de Lavala
Przegroda wielowarstwowa
Mieszalnik z mieszadłem Rushtona
Przepływ dwufazowy
{%endset%}
{% set
files = {
    'Zalecenia edytorskie raportu': base + "/cfd/zalecenia_edytorskie.doc",
    'Raport - instrukcja':  base + "/cfd/raport_instrukcja.pdf",
    'Zasady oceny raportów': base + '/wzpcp/zasadyocenyraportow.pdf',
    'Przykładowe tematy raportów': base + '/obliczenia-numeryczne/projektindywidualny.docx',
    'Szablon raportu': base + '/wzpcp/szablon_raportu_wzpcp.doc',
    'Harmonogram zajęć': base + '/wzpcp/harmonogram_wzpcp.pdf' ,
    'Wskazówki EASE dla autorów i tłumaczy artykułów naukowych publikowanych w języku angielskim': 'https://www.ease.org.uk/wp-content/uploads/2018/11/doi.10.20316.ESE_.2018.44.e1.pl_.pdf'
}
%}

{% block instructions%}
{% macro plik(name) -%}[{{name}}]({{base}}/obliczenia-numeryczne/{{name}}){%- endmacro -%}
| Nr | Temat | Plik |
|-|----|-|
{%- for item in classes %}
| {{loop.index}} | {{name}} | {{plik("lab" ~ loop.index ~ ".zip")}} |
{%- endfor %}
{%endblock%}

{% block after %}

![Wyniki obliczeń numerycznych procesów cieplno-przepływowych w pulsacyjnej rurce ciepła\
autor: Adrian Kwiatkowski](/files/upload/_users/przemyslaw.blasiak@pwr.edu.pl/pb/gifs/alphamphp.mp4){width=100% autoplay=""}

{% endblock %}
