{% set base = "/files/upload/157/public/dydaktyka/pakiety-obliczeniowe" %}
{% macro plik(path) -%}


### Materiały do zajęć

| Nazwa | Plik |
|-------|------|
| Skrypt | []({{base}}/) |
| Inne | [katapulta.p]({{base}})