{% set base = "/files/upload/157/public/dydaktyka/pakiety-obliczeniowe" %}
{% macro plik(name) -%}[{{name}}]({{base}}/{{name}}){%- endmacro %}


### Materiały do zajęć

| Nazwa | Plik |
|-------|------|
| Skrypt | {{plik("pakiety_obliczeniowe_skrypt.pdf")}} |
| Materiały | {{plik("katapulta.jpg")}} <br/> {{plik("katapulta.pdf")}} <br/> {{plik("dane.txt")}} |