{% set base = "/files/upload/157/public/dydaktyka" %}
{% macro cw(nr,title) -%}| {{nr}} | {{title}} | [Ex. {{nr}}]({{base}}/sptfp/exno{{nr}}.zip) | [![]({{base}}/sptfp/img{{nr}}.gif){width=400px}]({{base}}/sptfp/img{{nr}}.gif) |{%- endmacro %}

### Course materials

| Nr | Topic                | Instruction |             |
|-----|-------|-------------|-------------|
{{cw(1, "Transient heat transfer")}}
{{cw(2, "Transient heat transfer with radiation")}}
{{cw(3, "Modeling of multiphase flows")}}
{{cw(4, "Modeling of phase change")}}
{{cw(5, "Modeling of flow containing solid particles")}}
{{cw(6, "Modeling of flow through a blade row")}}
{{cw(7, "Modeling of flow around an airfoil")}}