{% set base = "/files/upload/157/public/dydaktyka" -%}
{% macro cw(nr,title) -%}| {{nr}} | {{title}} | [Ex. {{nr}}]({{base}}/sptfp/exno{{nr}}.zip) | [![]({{base}}/sptfp/img{{nr}}.gif){width=400px}]({{base}}/sptfp/img{{nr}}.gif) |{%- endmacro -%}

### Instructions

| Nr | Topic | Instruction | |
|-|----|-|----|
{{cw(1, "Transient heat transfer")}}
{{cw(2, "Transient heat transfer with radiation")}}
{{cw(3, "Modeling of multiphase flows")}}
{{cw(4, "Modeling of phase change")}}
{{cw(5, "Modeling of flow containing solid particles")}}
{{cw(6, "Modeling of flow through a blade row")}}
{{cw(7, "Modeling of flow around an airfoil")}}

### Other resources

{%- set
files = {
    'Rules of course assessment': base + "/cfd/orgclasses.pdf",
    'Ediorial requirements of a report': base + "/cfd/editorialreq.doc",
    'Report preparation instruction',  base +
    'Report template',
    'Schedule of the classes': ,
    'EASE Guidelines for Authors and Translators of Scientific Articles to be Published in English': 'https://www.ease.org.uk/wp-content/uploads/2018/11/doi.10.20316.ESE_.2018.44.e1.pdf'
}
-%}