{% macro cw(nr) -%}[Ćw. {{nr}}](dydaktyka/wzpcp/Cw{{nr}}.zip){%- endmacro %}

{{cw(1)}}

### Ćwiczenia

| Nr  | Temat                                                  | Instrukcja                       |                                             |
| --- | ------------------------------------------------------ | -------------------------------- | ------------------------------------------- |
| 1   | Nieustalona wymiana ciepła                             | {{cw(1)}} | ![](dydaktyka/gifs/tranHT.gif){width=400px} |
| 2   | Promieniowanie cieplne                                 | {{cw(1)}})|                                             |
| 3   | Modelowanie przepływów wielofazowych                   | {{cw(1)}} |                                             |
| 4   | Modelowanie przemiany fazowej                          | {{cw(1)}} |                                             |
| 5   | Modelowanie przepływów zawierających cząstki stałe     | {{cw(1)}} |                                             |
| 6   | Modelowanie przepływu przez stopień maszyny wirnikowej | {{cw(1)}} |                                             |
| 7   | Modelowanie opływu płata                               | {{cw(1)}} |                                             |
