{% set base = "/files/upload/157/public/dydaktyka" %}
{% macro cw(nr,title) -%}| {{nr}} | {{title}} | [Ćw. {{nr}}](/cw{{nr}}.zip) | [![]({{base}}/sptfp/img{{nr}}.gif){width=400px}]({{base}}/sptfp/img{{nr}}.gif) |{%- endmacro %}


### Ćwiczenia

| Nr | Temat | Instrukcja | |
|-|----|-|----|
{{cw(1, "Nieustalona wymiana ciepła")}}
{{cw(2, "Promieniowanie cieplne")}}
{{cw(3, "Modelowanie przepływów wielofazowych")}}
{{cw(4, "Modelowanie przemiany fazowej")}}
{{cw(5, "Modelowanie przepływów zawierających cząstki stałe")}}
{{cw(6, "Modelowanie przepływu przez stopień maszyny wirnikowej")}}
{{cw(7, "Modelowanie opływu płata")}}

### Inne materiały

{%- set
files = {
    'Zasady zaliczenia kursu': base + "/cfd/zajeciaorganizacyjne.pdf",
    'Zalecenia edytorskie raportu': base + "/cfd/zalecenia_edytorskie.doc",
    'RAPORT - INSTRUKCJA':  base + "/cfd/raport_instrukcja.pdf",
    'ZASADY OCENY RAPORTÓW': base + '/wzpcp/zasadyocenyraportow.pdf',
    'SZABLON RAPORTU': base + '/wzpcp/szablon_raportu_wzpcp.doc',
    'HARMONOGRAM ZAJĘĆ': base + '/wzpcp/harmonogram_wzpcp.pdf' ,
    'EASE Guidelines for Authors and Translators of Scientific Articles to be Published in English': 'https://www.ease.org.uk/wp-content/uploads/2018/11/doi.10.20316.ESE_.2018.44.e1.pl_.pdf'
}
-%}
{% for name, url in files.items() %}
- #### [{{name}}]({{url}})
{% endfor %}