{% macro cw(nr,title) -%}| {{nr}} | {{title}} | [Ćw. {{nr}}](dydaktyka/wzpcp/Cw{{nr}}.zip) | ![](dydaktyka/gifs/tranHT.gif){width=400px} |{%- endmacro %}

{{cw(1, "Nieustalona wymiana ciepła")}}

### Ćwiczenia

| Nr  | Temat                                                  | Instrukcja                       |                                             |
| --- | ------------------------------------------------------ | -------------------------------- | ------------------------------------------- |
{{cw(1, "Nieustalona wymiana ciepła")}}
{{cw(2, "Promieniowanie cieplne")}}
{{cw(3, "Modelowanie przepływów wielofazowych")}}
{{cw(4, "Modelowanie przemiany fazowej")}}
{{cw(5, "Modelowanie przepływów zawierających cząstki stałe")}}
{{cw(6, "Modelowanie przepływu przez stopień maszyny wirnikowej")}}
{{cw(7, "Modelowanie opływu płata")}}
| 1   | Nieustalona wymiana ciepła                             | {{cw(1)}} | ![](dydaktyka/gifs/tranHT.gif){width=400px} |
| 2   |                                  | {{cw(2)}})|                                             |
| 3   |                    | {{cw(3)}} |                                             |
| 4   |                           | {{cw(4)}} |                                             |
| 5   |      | {{cw(5)}} |                                             |
| 6   |  | {{cw(6)}} |                                             |
| 7   |                                | {{cw(7)}} |                                             |
